doctype html
html
    head
        title= "Real time web chat"
        link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Chat w/ SocketIO
        section.row
            section.col-md-8
                section#content
                .controls
                    form
                        | Send message to : <select name='users' class='users-select'><option value='name'>Everyone</option></select>
                        div.input-group
                            span.input-group-addon @
                            input(type='text', class="form-control field", placeholder="Message")
                        //input.send(type='submit', value='send')
                        | <button type="submit" class="btn btn-default send">Send</button>
                        input.private(type='submit', value='private', style="visibility: hidden")
                | <audio src="http://www.freesound.org/data/previews/174/174027_3242494-lq.ogg" volume="0.1">
                |  Your browser does not support the <code>audio</code> element.
                | </audio>
            section.col-md-4
                h3 Users list
                ul#users-list

        | ![Degr](http://static.mmzstatic.com/wp-content/uploads/2013/09/230913-17.gif)
        br
        | ![Degr](http://lorempixel.com/output/cats-q-c-640-480-10.jpg)

        //script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js')
        script(src='/socket.io/socket.io.js')

        script(src='/scripts/scripts.js')